
button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}
@media(max-width: 375px){button{
    font-size: 1.2rem;
}}
@media(max-width: 320px){button{
    font-size: 1.1em;
}}
button:hover{
    cursor: pointer;
}


.wrapper{
    background-color: black;
    border-radius: 1em;
   padding: 1.4em;
}
@media(max-width: 320px){.wrapper{
    padding: 1em;
}}


.orange{
    background-color: #FF9500;
    color: #ffff;
}
.gray {
    background-color: #505050;
    color: #ffff;
}
.zero{
    width: 160px;
    background-color: #505050;
    color: #ffff;
    text-align-last: left;
    padding-left: 30px;
}
@media(max-width: 375px){.zero{
    width: 125px;
}}
@media(max-width: 320px){.zero{
    width: 115px;
}}

.result{
    color: #ffff;
    display: flex;
    justify-content: flex-end;
    font-size: 3.5em;
    padding: 12px;
}