
body {
    display: flex;
    justify-content: center;
}

h1 {
color: #fff;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 20px;
}

p {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(3, 3, 121);
    padding-left: 10px;
    padding-right: 10px;
  
}

h3 {
    text-align: center;
    color: #fff;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s;
}

div {
    background-color: blue;
    padding: 20px;
}

input {
    display: block;
   
    text-align: center;
    font-size: 1em;
    color: rgb(3, 3, 121);
    border: solid 2px;
    border-color: rgb(3, 3, 121);
}

#send {
    display: inline-block;
    text-align: center;
    background-color: rgb(3, 3, 121);
    color: #fff;
    border-radius: 5px;
    border-color: #8d8c8c;
    cursor: pointer;
}

alert {
    background-color: blue;
    color: black;
}
