/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

header {
    height: 150px;
}
footer {
    background-color: black;
    height: 150px; 
    @media (max-width: 500px)  {
        
        margin-top: -10px;
        padding-bottom: 50px;
    } 
}
footer h1,p {
    color: white;
}
footer p {
    float: right;
    font-size: 14px;
    margin-top: 67px;
    margin-right: 5%;
    @media (max-width: 500px)  {

        margin: 0;
        text-align: center;
        float: left;
        margin-left: 10%;
        margin-top: 10px;
    } 
    @media (max-width: 3800px)  {

        margin: 0;
        text-align: center;
        float: left;
        margin-left: 10%;
        margin-top: 10px;
    
    } 
}
section {
    width: auto;
    height: auto;
    margin-bottom: 5rem;
}
.segmentosedit {
    margin-top: 18%;
}
.logo,nav,ul,li{
    display: inline-block;
    text-align: center;
}

nav {
    float: right;
    height: 17px;
}
ul {
    margin-top: 67px;
}
.logo {
    margin-top: 57px;
    margin-left: 5%;
    background-color: black;
     @media (max-width: 500px)  {

        margin-left: 30vw;
    } 
    @media (max-width: 370px)  {

        margin-left: 25vw;
    } 
}

li,a {
    text-decoration: none;
    color: black;
    @media (max-width: 800px)  {
        font-size: 14px;
    } 
    @media (max-width: 500px)  {

        font-size: 14px;
    
    } 
}
li {
    height: 17px;
    margin-right: 6vw;
    @media (max-width: 500px)  {

        
        margin-right: 4vw;
    } 
}

.img {
    width: 50%;
    height: 30vw;
    background-color: blue;
    margin-top: 58px;
    margin-left: 17px;
    display: contents;
   
    @media (max-width: 500px)  {
        margin-top: 90px;
        width: 90%;
    } 
}
.title01 {
    font-size: 34px;
    width: 40%;
    height: 156px;
    margin-top: 188px;
    margin-right:5%;
    display: inline-block;
    float: right;
    @media (max-width: 800px)  {
        margin-top: 88px;
        font-size: 28px;
    } 
    @media (max-width: 500px)  {

        width: 100%;
        height: 250px;
        font-size: 24px;
        text-align: center;
        margin-right: 0;
        margin-top: 50px;
    } 
}

.img,.title01,.texto01{
    display: inline-block;
}

h4 {
    font-size: 24PX;
    margin-top: 42px;
    @media (max-width: 800px)  {
        font-size: 18px;
    } 
    @media (max-width: 500px)  {

        font-size: 16px;
        width: 100%;
        text-align: center;
    } 
}
.botao {
    font-size: 20PX;
    width: 17rem;
    height: 72px;
    margin-top: 42px;
    color: blue;
    cursor: pointer;
    @media (max-width: 800px)  {
        
        font-size: 14px;
        width: 10rem;
        height: 42px;
        margin-top: 32px;
    } 
}

.local {
    font-size: 28PX;
    text-align: center;
    @media (max-width: 500px)  {

        width: 100%;
        font-size: 24px;
        text-align: center;
    } 
}

.center {
    text-align: center;
    width: 100%;
    bottom: unset;
}


.texto02 {
    text-align: center;
    width: 65%;
    margin-left: 18%;
    @media (max-width: 500px)  {

        width: 80%;
        margin-left: 10%; 
        text-align: center;
        margin-bottom: 10%;
    } 
}

.quadrado {
    width: 60%;
    height: 30VW;
    margin-left: 20%;
    margin-top: 4%;
    @media (max-width: 500px)  {

        width: 100%;
        height: 250px;
        margin-left: 0;
    } 
}
.servicos {
    font-size: 28PX;
    text-align: center;
    @media (max-width: 500px)  {

        width: 100%;
        font-size: 24px;
        text-align: center;
    } 
}
.sv {
    width: 70%;
    margin-top: 4%;
    margin-left: 18%;
    @media (max-width: 500px)  {

        width: 100%;
        margin-left: 0%;
        margin-right: 0;
    } 
}
.sv h1 {
    color: rgb(252, 252, 252);
}
.d01,.d02,.d03,.d04 {
    background-color: blue;
    display: inline-block;
    margin-right: 1%;
    width: 22%;
    height: 22VW;
    @media (max-width: 800px)  {
        
        width: 42%;
        margin-left: 2%;
        height: 40VW;
        margin-bottom: 20px;

        @media (max-width: 500px)  {
            width: 95%;
            height: 300px;
        } 
    } 
}
.sv h1 {
    margin-left: 10%;
    margin-top: 30%;
    font-size: 24PX;
    @media (max-width: 500px)  {
        font-size: 20px;
        margin-left: 4%;
    margin-top: 6%;
    } 
}
.sv p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    font-size: 14PX;
    @media (max-width: 500px)  {
        margin-bottom: -10px;
        font-size: 16px;
    } 
    
}
.segmentos {
    font-size: 28PX;
    text-align: center;
    margin-top: -5%;
    @media (max-width: 800px)  {  
        margin-top: -10%;
    } 
    @media (max-width: 500px)  {
        width: 100%;
        font-size: 24px;
        text-align: center;
    } 
}

.sg {
    width: 80%;
    height: 18VW;
    margin-top: 4%;
    margin-left: 13%;
    @media (max-width: 800px)  {
        
        height: 42vw;
        width: 93%;
        margin-left: 7%;
    }
    @media (max-width: 500px)  {
        height: 100%;
        margin: 0;
    } 
    
}
.s01,.s02,.s03 {
    background-color: blue;
    display: inline-block;
    width: 22%;
    height: 80%;
    @media (max-width: 500px)  {
        width: 100%;
        margin-bottom: 20px;
    } 
   
}
.s01,.s02 {
    margin-right: 12%;
    @media (max-width: 500px)  {
        margin-right: 0;
        width: 100%;
        height: 260px;
        margin-left: 4%;
    } 
}
.s03 {
    @media (max-width: 500px)  {
        margin-right: 0;
        width: 100%;
        height: 260px;
        margin-left: 4%;
    } 
}
.sg h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5%;
    @media (max-width: 800px)  {
        
        font-size: 20px;
    } 
}
.sg p {
    font-size: 12PX;
    margin-left: 8%;
    width: 85%;
    color: black;
    @media (max-width: 500px)  {
        font-size: 16px;
    } 
}
.icon {
    width: 20%;
    height: 40%;
    margin-bottom: 8%;
    background-color: rgb(214, 214, 214);
    border-bottom: 1px solid;
    border-right: 1px solid;
    @media (max-width: 800px)  {
        
        width: 50%;
    } 
    
}

